.contactWrapper{
    @include wrapper($primaryColor,$secondaryColor);
    height: 100vh;
    justify-content: space-around;
    padding: 0rem 0;
    h2{
        font-size: $headlineSize;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .divider{
        @include divider();
        margin: 0;
    }
    input{
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px darkgray solid;
        width: 60%;
    }
    textarea{
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px darkgray solid;
        width: 60%;
        height: 10.5rem;
    }
    button{
    @include btn();
    }
}