.portfolioWrapper{
    @include wrapper($thirdColor,$fourthColor);
    padding: 0rem 0;
    h2{
        font-size: $headlineSize;
        margin-block-end: 0em;
    }
    .divider{
        @include divider();
    }
    .portfolioImg{
        @include portfolioImg();
        &:hover{
            transform: scale(.98);
        }
    }
    .cover{
    @include cover();
    }
    .portfolioToggleContainer{
        @media(min-width: 768px){
            margin: 4rem auto;
            height: 55%;
            padding: 1rem 0;
        }
        @include portfolioToggleContainer();
            h2{
                font-size: $headlineSize;
                margin-block-end: 0em;
                margin-block-start: 0.5em;
            }
            .divider{
                @include divider();
                margin: 2rem 0;
            }
            .portfolioToggleImg{
            @include portfolioToggleImg();
            margin-bottom: 1.5rem;
            &:hover{
                transform: scale(.98);
            }
            }
            p{
                color: $fourthColor;
                width: 23rem;
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin-block-start: 0em;
            }
            button{
                font-size: 1.4rem;
                font-weight: bold;
                width: 14rem;
                height: 3rem;
                border-radius: 0.5rem;
                background-color: $primaryColor;
                cursor: pointer;
                color: $thirdColor;
                &:hover{
                    transform: scale(.98);
                    background-color: $secondaryColor;
                }
            }
        }
    }