.skillsbgcolor{
    background-color: $primaryColor;
    padding-bottom: 0rem;
    border: $secondaryColor 2px solid;
    height: 100vh;
}
.skillsH2{
    font-size: $headlineSize;
    text-align: center;
    margin-block-start: 0.5em;
}
.divider{
    @include divider();
    margin: 2rem auto;
}
.skillsImgWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    height: 75vh;
    .skillsImgContainer{
        @include roundImg();
        background-color: $thirdColor;
    }
    img{
        height: 5.5rem;
        width: 5.5rem;
    }
}